/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */

/* clearfix */
.clear {
  clear: both;
}
 
ul, ol {
  list-style: none;
  margin: 0;
}

.nav-logo a {
    color: #248DCD;
    font: 30px sans-serif;
    text-decoration: none;
}

span.rating-stars50 {
    background-position: 0 0;
}
span.rating-stars45 {
    background-position: 0 -11px;
}
span.rating-stars40 {
    background-position: 0 -22px;
}
span.rating-stars35 {
    background-position: 0 -33px;
}
span.rating-stars30 {
    background-position: 0 -44px;
}
span.rating-stars25 {
    background-position: 0 -55px;
}
span.rating-stars20 {
    background-position: 0 -66px;
}
span.rating-stars15 {
    background-position: 0 -77px;
}
span.rating-stars10 {
    background-position: 0 -88px;
}
span.rating-stars05 {
    background-position: 0 -99px;
}
span.rating-stars00 {
    background-position: 0 -110px;
}

.rating-stars50, .rating-stars45, .rating-stars40, .rating-stars35, .rating-stars30, .rating-stars25, .rating-stars20, .rating-stars15, .rating-stars10, .rating-stars05, .rating-stars00 {
    display: inline-block;
    zoom: 1;
    width: 55px;
    height: 11px;
    background: url("http://img3.douban.com/pics/movie/midstars.gif") no-repeat;
    margin: 0 3px 0 0;
    overflow: hidden;
}

/* larger rating */
.rating-larger span.rating-stars50 {
    background-position: 0 0;
}
.rating-larger span.rating-stars45 {
    background-position: 0 -14px;
}
.rating-larger span.rating-stars40 {
    background-position: 0 -28px;
}
.rating-larger span.rating-stars35 {
    background-position: 0 -42px;
}
.rating-larger span.rating-stars30 {
    background-position: 0 -56px;
}
.rating-larger span.rating-stars25 {
    background-position: 0 -70px;
}
.rating-larger span.rating-stars20 {
    background-position: 0 -84px;
}
.rating-larger span.rating-stars15 {
    background-position: 0 -98px;
}
.rating-larger span.rating-stars10 {
    background-position: 0 -112px;
}
.rating-larger span.rating-stars05 {
    background-position: 0 -126px;
}
.rating-larger span.rating-stars00 {
    background-position: 0 -140px;
}

.rating-larger .rating-stars50, .rating-larger .rating-stars45, .rating-larger .rating-stars40, .rating-larger .rating-stars35, .rating-larger .rating-stars30, .rating-larger .rating-stars25, .rating-larger .rating-stars20, .rating-larger .rating-stars15, .rating-larger .rating-stars10, .rating-larger .rating-stars05, .rating-larger .rating-stars00 {
    display: inline-block;
    zoom: 1;
    width: 75px;
    height: 14px;
    background: url("http://img3.douban.com/pics/movie/bigstars.gif") no-repeat;
    margin: 1px 0 0 0;
    overflow: hidden;
}
