// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie_detail {
  width: 900px;

  li {
    line-height: 25px;
  }

  .detail_poster {
    float: left;
    width: 250px;

    img {
      width: 210px;
      height: 280px;
    }
  }

  .detail_info {
    float: left;
    width: 630px;

    .info_left_half {
      width: 50%;
      float: left;
    }

    .info_right_half {
      width: 50%;
      float: left;
    }
  }
}

.movie_sessions {
  width: 650px;

  .screening_date_nav {
    height: 28px;

    .tabs {
      height: 100%;

      a {
        display: inline-block;
        background: url(screening_date_tabs_bg.png) no-repeat;
        height: 100%;
        width: 114px;
        background-position: -124px, 0;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
      }

      a.select {
        background-position: 0, 0;
      }
    }
  }

  .theatre_choice {
    background: #F0F3F5;

    a {
      line-height: 27px;
      padding: 0 5px;
      text-decoration: none;
    }
    .area_label {
      /* position: relative;
      width: 70px;
      top: -37px; */

      float: left;
      padding: 10px 0 0 10px;
    }
    .area {
      display: inline-block;
      width: 550px;
      padding: 10px 10px 10px 10px;

      .city_areas {
        line-height: 27px;
      }
      .theatres {
        background: #FFFFFF;
        padding: 10px 10px 10px 10px;

        ul {
          li {
            display: inline-block;
          }
        }
      }
    }    
  }
}
